/* Navbar CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.8rem 2rem; /* top/bottom padding + horizontal padding */
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    gap: 6px;
}

.logo-emoji{
    font-size: 35px;
    color: #facc15; 
}

/* Nav Links */
.nav-links {
    display: flex;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-items li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-items li a:hover {
    color: #fbbf24; /* yellow hover */
}

/* Buttons */


.nav-buttons .btn{
    padding: 8px 16px;
    background-color: #fbbf24;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.nav-buttons .btns:hover {
    background-color: #e6ac00;
}

.nav-btn-login {
    background-color: transparent;
    border: 1px solid #fbbf24;
    color: #fbbf24;
}

.btn-login:hover {
    background-color: #fbbf24;
    color: #fff;
}

.nav-btn-signup {
    background-color: #fbbf24;
    border: none;
    color: #fff;
}

.btn-signup:hover {
    background-color: #e6ac00;
}



/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    display: block;
    border-radius: 2px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-items,
    .nav-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .nav-links.active .nav-items,
    .nav-links.active .nav-buttons {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .container {
        flex-wrap: wrap;
    }
}
