{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&family=DM+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

<nav class="navbar">
    <div class="nav-container">

        <a href="{% url 'campaign' %}" class="logo">
            <img src="{% static 'images/Main_Logo.png' %}" alt="Ready2Lease Logo">
        </a>

        <div class="nav-buttons">
                <a href="{% url 'assessment-page' %}" class="btn btn-primary">Start Free Check</a>
        </div>

    </div>
</nav>