{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="login-section">
    <div class="login-container">
        <div class="login-box">
            <h2>Welcome Back</h2>
            <p>Enter your credentials to access your dashboard</p>

            <!-- Login Form -->
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <!-- <input type="password" id="password" name="password" placeholder="Enter your password" required> -->
                     <div class="password-wrapper">
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        <span class="toggle-password" id="togglePassword">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="forgot-password">
                    <a href="{% url 'reset-password' %}">Forgot password?</a>
                </div>

                <button type="submit" class="login-form-btn">Login</button>

                <div class="signup-link">
                    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</section>


<script>
document.addEventListener("DOMContentLoaded", function () {
    const toggleButtons = document.querySelectorAll(".toggle-password");

    toggleButtons.forEach(function (toggle) {
        toggle.addEventListener("click", function () {
            const input = this.parentElement.querySelector("input");
            const icon = this.querySelector("i");

            const type = input.getAttribute("type") === "password" ? "text" : "password";
            input.setAttribute("type", type);

            icon.classList.toggle("fa-eye");
            icon.classList.toggle("fa-eye-slash");
        });
    });
});
</script>

{% endblock content %}
